.footer {
  width: 100%;
  background-color: #f1f1f1;
  margin-top: 20px;
  height: 150px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

@media (max-width: 768px) {
  .footer {
    height: 100px; 
  }

  .footer p {
    font-size: 0.8rem; 
  }
}