.navbar-logo-image {
  height: 360px; 
  width: auto;
  padding-left: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0); 
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}

.navbar-logo {
  position: absolute;
  left: 20px; 
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li a {
  text-decoration: none;
  
  color: #F08386;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px; 
  border: 2px solid transparent; 
  transition: border-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-logo-image {
    height: 80px; 
    width: auto;
  }

  .navbar-links li a {
    font-size: 0.5rem;
    padding: 5px;
  }

}