.product-description {
    width: 100%;
    max-width: 4xl;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .title {
    font-size:3rem;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .description {
    color: #717171; 
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
    }
  }