.slideshow {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
}

.slide-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out; 
}

.slide {
  width: 100%;
  height: 100vh;
  /* object-fit: contain; */
}

@media (max-width: 768px) {
  .slide {
    width: auto;
    height: 100vh; 
    object-fit: cover;
  }
}